@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

* {
    font-family: 'Elsie', cursive;
    box-sizing: border-box;
    background: black;
    border: none;
    color:white;
    padding: 0em;
    margin: 0em;
    font-size: 10vh;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxForButt {
    width: 777px;
    height: 777px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.key {
    width: 30%;
    flex-grow: 1;
    border-radius: 100%;
}

.key:hover {
    background-color: rgb(71, 72, 72);
}

.key:active {
    background-color: rgb(79, 1, 79);
}